@charset "UTF-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {margin: 0; padding: 0;}

/* a 링크 초기화 */
a {color: #373a3c; text-decoration: none;}
a:hover {color: none;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
    font-family: 'Noto Sans KR', sans-serif; color: #373a3c; font-weight: bold;}

/* body, wrap 태그 초기화 */
body {
	background-color: #F7F7F7; font-weight: bold;}

#wrap {
	width: 1080px; margin: 0 auto;}

/* 폰트 스타일 초기화 */
address {
	font-style: normal;}

/* table 초기화 */
table {
	text-align: center; border-collapse: collapse; background: #fff; overflow: hidden; border-radius: 10px;}

/* 표 효과 */
th, td {padding: 3px; border: 0px; text-align: center;}
th {color: #fff; background-color: #1C192B;}
td {color: #373a3c;}