@charset "UTF-8";

/* nav */
nav {height: 40px; overflow: hidden; background-color: #1C192B;}
nav #title {display: table; float: left; width: 200px; height: 40px; text-align: center;}
nav #title h1 {display: table-cell; vertical-align: middle;}
nav #title h1 a {color: #DCDFE0; font-size: 26px;}
nav #menu {float: left; height: 40px;}
nav #menu a {color: #aaa; height: 40px; line-height: 40px; font-size: 20px; padding: 0 20px;}
nav #menu a:hover {color: #DCDFE0;}

/* 버전 */
#version {padding: 10px 0 0 0; text-align: right; color: #4a4a4a;}

/* 일정 */
#schedule {margin: 30px 0 0 0;}
#schedule h2 {font-size: 30px; margin-bottom: 10px;}
#schedule table {width: 100%;}
#schedule table tr th {width: 25%;}
#schedule table tr td {overflow: hidden; border-right: 1px solid #ddd;}
#schedule table tr td:nth-child(4) {border: 0;}
#schedule table tr td .match {overflow: hidden;}
#schedule table tr td .match:nth-child(1) {margin-bottom: 20px;}
#schedule table tr td .match .match_no {font-size: 14px;}
#schedule table tr td .match:nth-child(1) .match_no {margin-top: 5px;}
#schedule table tr td .match .vs {float: left; width: 10%; line-height: 70px;}
#schedule table tr td .match .team {float: left; width: 45%;}
#schedule table tr td .match .team img {height: 50px;}

/* 순위 */
#ranking {margin: 30px 0 30px 0;}
#ranking h2 {font-size: 30px; margin-bottom: 10px;}
#ranking table {width: 100%; margin: 0 auto; background: #fff;}
#ranking table th {background-color: #1C192B; color: #DCDFE0; border: 0px;}
#ranking table th:nth-child(7) {border-right: 1px solid #777;}
#ranking table tr td {padding: 3px; border: 0px; height: 60px;}
#ranking table tr .team {width: 12%;}
#ranking table tr .score {width: 6%;}
#ranking table tr td:nth-child(9) {border-left: 1px solid #1C192B;}
#ranking table tr td img {height: 35px;}
#ranking #reference {margin-top: 10px; text-align: right; font-size: 14px;}
#ranking #reference .reference_color {display: inline-block; width: 15px; height: 15px; margin-left: 10px;}

/* footer */
footer {width: 100%; border-top: 1px solid #ccc; text-align: center; font-size: 13px;}
footer address {padding: 15px 0;}
footer p {padding: 0 0 10px 0;}